{% extends 'public/base_cpanel.html' %}

{% block title %}Data Center 🖥 | Empresas {% endblock %}

{% block body %}
<div class="card content_consignaciones" style="border-radius: 0px !important">
  <section id="respuestaFiltroMes">
    <h2 class="text-center mt-5 mb-5">
      Empresas Registradas 
      <hr />
    </h2>

    <div class="table-responsive text-nowrap">
      <table class="table table-hover">
        <thead>
          <tr style="background-color: #8e8e8e">
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {% for empresa in empresa %}
            <tr>
              <td>{{ empresa.id_empresa }}</td>
              <td>{{ empresa.nombre_empresa }}</td>
              <td>{{ empresa.direccion_empresa or 'N/A' }}</td>
              <td>{{ empresa.telefono_empresa or 'N/A' }}</td>
              <td>{{ empresa.email_empresa or 'N/A' }}</td>
            </tr>
          {% else %}
            <tr>
              <td colspan="5" class="text-center">No hay empresas registradas</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</div>
{% endblock %}
