{% extends 'public/base_cpanel.html' %}

{% block title %}Data Center 🖥 | Sensores {% endblock %}

{% block body %}
  <div class="card content_consignaciones" style="border-radius: 0px !important">
    <section id="respuestaFiltroMes">
      <h2 class="text-center mt-5 mb-5">
        Sensor de temperatura 
        <hr />
      </h2>

      <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr style="background-color: #8e8e8e">
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Temperatura</th>
                    <th>Estado</th>
                    <!-- Comentario para referencia: <th>Humedad</th> -->
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for sensor in datos_sensor_temperatura %}
                    <tr>
                        <td>{{ sensor.id }}</td>
                        <td>{{ sensor.fecha }}</td>
                        <td>{{ sensor.valor }} °C</td>
                        <td>{{ sensor.nivel_temperatura }}</td>
                        <td>
                            <!-- Botón para eliminar el sensor, redirige a la ruta de eliminación -->
                            <a href="{{ url_for('eliminar_sensor_temperatura_route', id_sensor=sensor.id) }}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de eliminar este sensor de temperatura?')">Eliminar</a>
                        </td>
                    </tr>
                {% else %}
                  <tr>
                    <td colspan="4" class="text-center">No se encontraron registros de sensores de temperatura.</td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
    </section>
  </div>
{% endblock %}

