{% extends 'public/base_cpanel.html' %}

{% block title %}MetaSave Information 🖥 | Tarjeta {% endblock %}

{% block body %}
  <div class="card content_consignaciones" style="border-radius: 0px !important">
    <section id="respuestaFiltroMes" class="mt-3">
      <h2 class="text-center mt-5 mb-5">
        Registros de Tarjeta
        <hr />
      </h2>

      <div class="d-flex justify-content-between mb-3">
        <div><!-- Contenedor para espacio a la izquierda del botón, si es necesario --></div>
        <a href="#" id="descargarExcelBtn" class="btn btn-lg btn-outline-success" style="color: #808686;">
          <i class="bi bi-file-earmark-text"></i>
          Descargar Reportes
        </a>
      </div>

      <div class="table-responsive text-nowrap">
        <table class="table table-hover">
          <thead>
            <tr style="background-color: #ddd">
              <th>ID_Usuario</th>
              <th>Nombre</th>
              <th>UID Tarjeta</th>
              <th>Fecha-hora acceso</th>
              <th>Estado</th>
              <th>Area</th>
              <!-- La columna de Acciones se ha eliminado -->
            </tr>
          </thead>
          <tbody>
            {% for tarjeta_rfid in datos_tarjeta %}
              <tr>
                <td>{{ tarjeta_rfid.id_usuario}}</td>
                <td>{{ tarjeta_rfid.nombre}} </td>
                <td>{{ tarjeta_rfid.tarjeta }}</td>
                <td class="fecha-hora">{{ tarjeta_rfid.fecha_hora}}</td>
                <td>{{ tarjeta_rfid.estado }}</td>
                <td>{{ tarjeta_rfid.id_area }}</td>
                <!-- La columna de Acciones se ha eliminado -->
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  </div>

  <!-- Script Custom -->
  {% block customJS %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
  <script>
    document.getElementById('descargarExcelBtn').addEventListener('click', function() {
      try {
        // Obtener la información de la tabla
        var table = document.querySelector('.table');
        var rows = Array.from(table.querySelectorAll('tbody tr'));

        // Ajustar el formato de fecha-hora y obtener datos
        var data = [ // Primera fila con nombres de columnas
          ["ID_Usuario", "Nombre", "UID Tarjeta", "Fecha-hora acceso", "Estado", "Area"]
        ];

        data = data.concat(rows.map(row => {
          var cells = Array.from(row.cells);
          return cells.map(cell => {
            if (cell.classList.contains('fecha-hora')) {
              // Ajustar el formato de fecha-hora
              return new Date(cell.innerText).toLocaleString();  // Puedes ajustar el formato según tus preferencias
            }
            return cell.innerText;
          });
        }));

        // Crear el libro de Excel y guardarlo como archivo
        var libro = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(libro, XLSX.utils.aoa_to_sheet(data), 'RegistrosTarjeta');
        XLSX.writeFile(libro, 'registros_tarjeta.xlsx');
      } catch (error) {
        console.error('Error al generar el archivo Excel:', error);
      }
    });
  </script>
  {% endblock %}
{% endblock %}